@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.scss";
@import "colors.scss";

@layer components {
    body {
        @apply lg:text-[20px] text-[16px] bg-c-blue text-white;
    }
    .prawns {
        &-container {
            @apply lg:px-4 px-2.5 max-w-7xl mx-auto;
        }
        &-header-hero-homepage {
           @media (max-width:1024px){
            height: 50dvh;
           }
           height: calc(100vh - 60px);
        }
        &-sfumatura-bassa {
            @apply bg-gradient-to-t from-c-blue;
        }
        &-sfumatura-alta {
            @apply bg-gradient-to-b from-c-blue;
        }
        &-cta-right {
            @apply bg-c-blue border border-white text-[16px] leading-none rounded-full rounded-tr-none uppercase pt-[6px] pb-[9px] px-[25px] hover:text-c-blue hover:bg-white inline-block;
        }
        &-cta-left {
            @apply bg-c-blue border border-white text-[16px] leading-none rounded-full rounded-tl-none uppercase pt-[6px] pb-[9px] px-[25px] hover:text-c-blue hover:bg-white inline-block;
        }
        &-animate-image {
            animation: animate-home ease-in-out 7s forwards;
        }
        &-animate-text {
            animation: animate-text ease-in-out 7s forwards;
        }
        &-line{
            @apply relative overflow-hidden w-full;
            span{
                @apply absolute;
            }
        }



        @keyframes animate-home {
            0% {
                opacity: 0;
                transform: scale(1);
            }
            25% {
                opacity: 1;
            }
            100% {
                transform: scale(1.1);
            }
        }
        @keyframes animate-text {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 1;
            }
        }
    }

    header {
        nav {
            .prawns-active-menu {
                &::after {
                    content: "";
                    width: 105% !important;
                }
            }
            li:not(.not-this) {
                @apply relative;
                &::after {
                    content: "";
                    @apply absolute -left-0.5 bottom-0 h-[2px] bg-c-orange inline-block w-0 rounded-full transition-all duration-300;
                    &:hover {
                        @apply w-[105%];
                    }
                }
            }
        }
    }

    #audiolibro,
    #audiolibro-personaggi {
        .active {

            [data-image] {
                img{
                    @apply w-full h-[325px] object-cover order-2 pb-2.5;
                }
            }
            [data-subtitle],[data-title],[data-others],[data-audio]{
                @apply block;
            }

            [data-others],{
                @apply text-white;
            }
    
            [data-play] {
                @apply flex;
            }
            [data-description] {
                @apply place-content-start h-max block text-white;
                span {
                    @apply line-clamp-none;
                }
            }
            @media (min-width:1024px){

                [data-title] {
                    transform: translateX(340px);
                    @apply absolute text-c-orange;
                }
    
                [data-subtitle], [data-others] {
                    @apply block;
                }
    
                [data-image] {
                    img{
                        @apply w-[325px] min-w-[325px] h-[325px] object-cover pt-2.5;
                    }
                }

                [data-audio] {
                    @apply flex;
                }
            }

            [data-description], [data-others]{
                animation: enterAnimateOpacity 500ms linear forwards;

            }

            [data-subtitle] {
                animation: enterAnimateOpacity 500ms linear forwards;

            }

            [data-image] {
                animation: enterAnimateOpacity 500ms linear forwards;
            }

            [data-play] {
                animation: enterAnimateOpacity 500ms linear forwards;
            }

            [data-audio] {
                animation: enterAnimateOpacity 500ms linear forwards;
            }

        }

        @keyframes enterAnimateOpacity {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

[x-cloak]{
    display: none!important;
}
