---
import Layout from "../layouts/Default.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/pages/hero.astro";
---

<Layout metaTitle="Chi siamo | The Prawn's Manor" metaDescription="Scopri la squadra dietro The Prawn's Manor e la nostra ambiziosa visione. Attraverso giochi da tavolo, carte e la creazione di un mondo immaginario, stiamo dando vita a un'avventura senza fine. Unisciti a noi mentre costruiamo un mondo di meraviglie su The Prawn's Manor.">
    <Header />

    <Hero img="/images/crew.jpg" subtitle="The Prawn's Manor" title="Chi siamo" alt="Illustrazione dei membri di prawns manor"/>
    
    <section class="prawns-container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
            <p class="lg:sticky lg:top-[60px] h-max">The Prawn's Manor è più di una semplice idea; è un'ambiziosa visione che sta gradualmente prendendo forma, come le mura di una taverna che sorgono lentamente dal suolo. In questa fase embrionale, stiamo concentrando i nostri sforzi su diversi progetti: dai giochi da tavolo alle carte, dalle collane di libri alla creazione di un intero mondo immaginario. Quest'ultimo, in particolare, è il cuore pulsante di tutto ciò che stiamo costruendo - è la terra fertile in cui germogliano e si intrecciano le radici dei nostri sogni creativi.

                Il mondo di The Prawn's Manor non è solo un luogo immaginario; è una realtà in fieri, un tessuto di storie e avventure che prendono vita sotto il nostro sguardo attento. È qui che trovano dimora le nostre idee più audaci, le nostre passioni più profonde. Ogni strada, ogni vicolo, ogni cripta nascosta racconta una storia, una storia che attende solo di essere scoperta e condivisa con il mondo.
                
                E mentre gettiamo le fondamenta di questo mondo fantastico, ci rendiamo conto che è molto più di un semplice sfondo per i nostri progetti. È il catalizzatore che unisce tutto ciò che facciamo, il filo invisibile che lega ogni singola carta, ogni dado lanciato, ogni parola scritta. È la linfa vitale che nutre la nostra creatività, la spinta che ci sprona a osare, a sognare in grande.
                
                Così, mentre continuiamo a costruire The Prawn's Manor, lo facciamo con il cuore gonfio di speranza e l'animo vibrante di anticipazione. Perché sappiamo che, quando finalmente solleveremo il sipario su questo mondo meraviglioso, sarà solo l'inizio di un'avventura senza fine.</p>
            <img src="images/warrior.jpg" alt="Illustrazione di un guerriero" class="mt-auto w-full lg:pt-48 pt-12">
        </div>
    </section>
    
    <Footer />
</Layout>