---
import Layout from "../layouts/Default.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/pages/hero.astro";
---

<Layout metaTitle="Chi siamo | The Prawn's Manor" metaDescription="Scopri la squadra dietro The Prawn's Manor e la nostra ambiziosa visione. Attraverso giochi da tavolo, carte e la creazione di un mondo immaginario, stiamo dando vita a un'avventura senza fine. Unisciti a noi mentre costruiamo un mondo di meraviglie su The Prawn's Manor.">
    <Header />

    <Hero img="/images/crew.jpg" subtitle="The Prawn's Manor" title="Chi siamo" alt="Illustrazione dei membri di prawns manor"/>
    
    <section class="prawns-container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
            <div class="lg:sticky lg:top-[25%] h-max">
                <p>
                    The Prawn’s Manor è una realtà non ancora nata, un’idea che si sta sviluppando poco a poco, come una taverna in costruzione. In questa realtà stiamo già lavorando a diversi progetti, come giochi da tavolo, di carte, collane di libri e un mondo tutto nostro. Quest’ultimo è decisamente la parte più importante e centrale di tutto il lavoro, in quanto fulcro di tutti i progetti e colonna portante di tutta l’idea.
                </p>
                <div class="mt-12 flex flex-col">
                    <h4>Scopri The Prawn's Manor!</h4>
                    <a href="https://www.instagram.com/theprawnsmanor?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"class="hover:translate-x-4 transition-transform duration-300 inline-block w-max text-c-orange">Instagram</a>
                    <a href="mailto:theprawnsmanor@gmail.com" class="hover:translate-x-4 transition-transform duration-300 inline-block w-max text-c-orange">theprawnsmanor@gmail.com</a>
                </div>
            </div>
            <img src="/images/warrior.jpg" alt="Illustrazione di un guerriero" class="mt-auto w-full lg:pt-48 pt-12">
        </div>
    </section>
    
    <Footer />
</Layout>