---
import Layout from "../layouts/Default.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/pages/hero.astro";
---

<Layout metaTitle="Chi siamo | The Prawn's Manor" metaDescription="Scopri la squadra dietro The Prawn's Manor e la nostra ambiziosa visione. Attraverso giochi da tavolo, carte e la creazione di un mondo immaginario, stiamo dando vita a un'avventura senza fine. Unisciti a noi mentre costruiamo un mondo di meraviglie su The Prawn's Manor.">
    <Header />
        <div class="prawns-container my-12">
            <div class="space-y-8">
                <h1 class="mb-12 text-c-orange text-[32px]"><strong>Informativa sulla Privacy</strong></h1>
                <div>
                    <h2 class="text-c-orange"><strong>Dati Raccolti</strong></h2>
                    <p>Utilizziamo il localStorage per tenere traccia dello stato di avanzamento dell'audiolibro sul nostro sito. Nessun dato personale viene registrato o ceduto a sterzi attraverso questa funzionalità. I dati memorizzati localmente sul tuo dispositivo servono esclusivamente a migliorare la tua esperienza sul nostro sito.</p>
                </div>
                <div>
                    <h2 class="text-c-orange"><strong>Utilizzo dei Dati</strong></h2>
                    <p>I dati raccolti vengono utilizzati esclusivamente per migliorare l'esperienza degli utenti su <a href="https://www.theprawnsmanor.it/">The Prawns Manor</a>. Non condividiamo, vendiamo o cediamo i tuoi dati personali a terzi.</p>
                </div>
                <div>
                    <h2 class="text-c-orange"><strong>Modifiche all'Informativa sulla Privacy</strong></h2>
                    <p>Ci riserviamo il diritto di apportare modifiche a questa Informativa sulla Privacy in qualsiasi momento. Le modifiche saranno pubblicate su questa pagina con un avviso di aggiornamento della data in alto.</p>
                </div>
                <div>
                    <h2 class="text-c-orange"><strong>Contattaci</strong></h2>
                    <p>Se hai domande o dubbi riguardo alla nostra Informativa sulla Privacy, non esitare a contattarci all'indirizzo email: <a href="mailto:theprawnsmanor@gmail.com">theprawnsmanor@gmail.com</a>.</p>
                </div>
                <p>Ultimo aggiornamento: 05/2024</p>
            </div>
        </div>
    <Footer />
</Layout>