<!-- ---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
--- -->

<footer class="h-40 w-screen grid place-items-center text-center bg-red-300">
	<div>Footer</div>
</footer>
