<footer class="border-t border-white mt-4 lg:px-4 px-2.5 text-[14px] py-4 flex justify-between items-center z-[100] bg-c-blue relative">

		<div class="flex space-x-4">
			<span>Copyright 2024</span>
			<span>-</span>
			<ul class="flex space-x-4">
				<li>
					<a href="">Cookie Policy</a>
				</li>
				<li>
					<a href="">Privacy Policy</a>
				</li>
			</ul>
		</div>

		<ul>
			<li><a href="mailto:">info@ciao.it</a></li>
		</ul>
</footer>
