<!-- ---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
--- -->

<header class="h-[60px] bg-c-blue flex items-center prawns-container sticky top-0 font-breve z-[999]">
	<div class="ml-auto">
		<ul class="space-x-4 flex">
			<li><a href="/">home</a></li>
			<li><a href="/audiolibro">audiolibro</a></li>
			<li><a href="/chi-siamo">Chi siamo</a></li>
			<li><a href="" target="_blank">Dona ora</a></li>
		</ul>
	</div>
	<a href="/"><img class="max-w-[100px] absolute left-6 -bottom-[50px]" src="/images/logo.png" alt="logo the prawns manor" ></a>
</header>
