---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<header class="lg:h-[60px] h-[50px] bg-c-blue flex items-center lg:px-4 px-2.5 sticky top-0 font-breve z-[999]">
	<nav class="ml-auto lg:text-[24px] text-[20px] flex space-x-4 items-center">

		<ul class="space-x-4 flex">
			<li class={currentPath === "" ? "prawns-active-menu" : ""}><a href="/">home</a></li>
			<li class={currentPath === "audiolibro" ? "prawns-active-menu" : ""}><a href="/audiolibro">audiolibro</a></li>
			<li class={currentPath === "chi-siamo" ? "prawns-active-menu" : ""}><a href="/chi-siamo">Chi siamo</a></li>
			<!-- <li><a href="" target="_blank" >Dona ora</a></li> -->
		</ul>
		<ul>
			<li class="not-this">
				<a href="https://www.instagram.com/theprawnsmanor?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="group">
					<svg xmlns="http://www.w3.org/2000/svg" class="lg:h-5 h-3.5 lg:w-5 w-3.5" viewBox="0 0 10.718 10.718">
						<g id="SVGRepo_iconCarrier" transform="translate(-1 -1)">
						  <path class="group-hover:fill-c-orange transition-all duration-300" id="Tracciato_10" data-name="Tracciato 10" d="M8.923,11.846A2.923,2.923,0,1,0,6,8.923,2.923,2.923,0,0,0,8.923,11.846Zm0-.974A1.949,1.949,0,1,0,6.974,8.923,1.949,1.949,0,0,0,8.923,10.872Z" transform="translate(-2.564 -2.564)" fill="#fff" fill-rule="evenodd"/>
						  <path class="group-hover:fill-c-orange transition-all duration-300" id="Tracciato_11" data-name="Tracciato 11" d="M17.487,5a.487.487,0,1,0,.487.487A.487.487,0,0,0,17.487,5Z" transform="translate(-8.205 -2.051)" fill="#fff"/>
						  <path class="group-hover:fill-c-orange transition-all duration-300" id="Tracciato_12" data-name="Tracciato 12" d="M1.319,2.6A7.262,7.262,0,0,0,1,5.677V7.041a7.262,7.262,0,0,0,.319,3.081A2.923,2.923,0,0,0,2.6,11.4a7.262,7.262,0,0,0,3.081.319H7.041a7.261,7.261,0,0,0,3.081-.319A2.923,2.923,0,0,0,11.4,10.122a7.261,7.261,0,0,0,.319-3.081V5.677A7.262,7.262,0,0,0,11.4,2.6a2.923,2.923,0,0,0-1.277-1.277A7.262,7.262,0,0,0,7.041,1H5.677A7.262,7.262,0,0,0,2.6,1.319,2.923,2.923,0,0,0,1.319,2.6Zm5.722-.622H5.677c-.835,0-1.4,0-1.841.037a2.1,2.1,0,0,0-.8.176,1.949,1.949,0,0,0-.852.852,2.1,2.1,0,0,0-.176.8c-.036.439-.037,1.006-.037,1.841V7.041c0,.835,0,1.4.037,1.841a2.1,2.1,0,0,0,.176.8,1.949,1.949,0,0,0,.852.852,2.1,2.1,0,0,0,.8.176c.439.036,1.006.037,1.841.037H7.041c.835,0,1.4,0,1.841-.037a2.1,2.1,0,0,0,.8-.176,1.949,1.949,0,0,0,.852-.852,2.1,2.1,0,0,0,.176-.8c.036-.439.037-1.006.037-1.841V5.677c0-.835,0-1.4-.037-1.841a2.1,2.1,0,0,0-.176-.8,1.949,1.949,0,0,0-.852-.852,2.1,2.1,0,0,0-.8-.176C8.443,1.975,7.876,1.974,7.041,1.974Z" fill="#fff" fill-rule="evenodd"/>
						</g>
					</svg>				  
				</a>
			</li>
		</ul>
	</nav>


	<a href="/"><img class="lg:max-w-[100px] max-w-[40px] absolute lg:left-6 left-2.5 lg:-bottom-[50px] bottom-[5px]" src="/images/logo.png" alt="logo the prawns manor" ></a>
</header>
