<!-- ---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
--- -->

<header class="h-40 w-screen grid place-items-center text-center bg-red-100">
	<div>Header</div>
</header>
